{% extends 'base.html.twig' %}

{% block title %}Article listing {% endblock %}

{% block body %}
    <h1>List of articles (new)</h1>
    <p>Search <a href="{{ path('new_articles_search', {'author': 'bob', 'category': 'health'}) }}">here</a></p>

    {# list articles here in a table #}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.category }}</td>
                <td>{{ article.author }}</td>
                <td><a href="{{ path('new_articles_view', { 'slug': article.slug }) }}">{{ article.title }}</a></td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No articles found.</td>
            </tr>
        {% endfor %}
        </tbody>

{% endblock %}